body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}

.heading-secondary {
  font-size: $font-size-big;
  line-height: 34px;
  font-weight: normal;
}

.heading-quaternary {
  font-size: $font-size-small;
  color: $color-grey-dark;

  @include respond(tab-port) {
    padding: 0 0 0 $padding-tab-port ;
  }
}

@font-face {
  font-family: 'Atlas Grotesk Web - Regular';
  src: url('fonts/c3fc6c92a4442b6da0beb30dece985f2.woff2') format('woff2'),
  url('fonts/c3fc6c92a4442b6da0beb30dece985f2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


