body {
  font-family: "AtlasGrotesk",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: .6px;
}

.heading-secondary {
  font-size: $font-size-big;
  line-height: 32px;
  font-weight: normal;
}

.heading-quaternary {
  font-size: $font-size-small;
  color: $color-grey-dark;

  &::after{
    content: '';
    padding-bottom: 13px;
    display: block;
    width: 100%;
    border-bottom: solid 1px rgba($color-grey-dark, .2);
  }
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('./fonts/Atlas Grotesk Web-Regular.eot');
  src: url('./fonts/Atlas Grotesk Web-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Atlas Grotesk Web-Regular.woff') format('woff'),
  url('./fonts/Atlas Grotesk Web-Regular.ttf') format('truetype'),
  url('./fonts/Atlas Grotesk Web-Regular.svg#Atlas Grotesk Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
