// COLORS
$bg-color-grey: #F7F9FA;

$color-grey: #C1C7CD;
$color-grey-light: #F7F9FA;
$color-grey-dark: #637282;
$color-black: #000;

// FONT
$default-font-size: 16.2px;

$font-size-small: 12px;
$font-size-medium: 20px;
$font-size-big: 30px;

// DASHBOARD
$nav-primary-height: 240px;


// CONTENT
$content-header-width: 20%;
$content-margin-left: 18px;
