// COLORS
$bg-color-grey: #F7F9FA;

$color-primary: #0070e0;
$color-primary-lighter: #007af5;
$color-grey: #C1C7CD;
$color-grey-light: #F7F9FA;
$color-grey-dark: #637282;
$color-grey-dark-2: #3d464d;

$color-black: #000;
$color-white: #fff;

// FONT
$default-font-size: 16px;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-big: 20px;

// DASHBOARD
$nav-primary-height: 240px;


// CONTENT
$content-header-width: 20%;
$content-margin-left: 18px;


// BORDER
$default-border-radius: 4px;
