@font-face {
    font-family: '.';
    src: url('c3fc6c92a4442b6da0beb30dece985f2.woff2') format('woff2'),
        url('c3fc6c92a4442b6da0beb30dece985f2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

