.u-float-right {
  float: right !important; }

.u-float-left {
  float: left !important; }

body {
  font-family: "AtlasGrotesk",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: .6px; }

.heading-secondary {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal; }

.heading-quaternary {
  font-size: 12px;
  font-weight: normal;
  color: #637282; }
  .heading-quaternary::after {
    content: '';
    padding-bottom: 12px;
    display: block;
    width: 100%;
    border-bottom: solid 1px rgba(99, 114, 130, 0.2); }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("./fonts/Atlas Grotesk Web-Regular.eot");
  src: url("./fonts/Atlas Grotesk Web-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Atlas Grotesk Web-Regular.woff") format("woff"), url("./fonts/Atlas Grotesk Web-Regular.ttf") format("truetype"), url("./fonts/Atlas Grotesk Web-Regular.svg#Atlas Grotesk Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.content {
  display: flex;
  flex-direction: column;
  padding: 40px; }
  .content__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    .content__header--title {
      flex-grow: 10; }
    .content__header--icons {
      margin-left: 18px; }
      .content__header--icons img {
        width: 30px;
        height: auto; }
    .content__header--user {
      margin-left: 18px; }
      .content__header--user img {
        border-radius: 50%;
        width: 30px;
        height: auto; }
  .content__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 12px;
    font-weight: normal;
    color: #637282; }
    .content__body--main {
      flex-grow: 5; }
    .content__body--nav-secondary {
      flex-grow: 1; }
    .content__body--text {
      margin-top: 30px; }

.form {
  display: inline-block; }
  .form__search {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 100%;
    padding: 6px 13px; }
  .form__icon {
    width: 12.5px; }
    .form__icon img {
      width: inherit;
      height: inherit; }
    .form__icon button {
      background-color: transparent; }
  .form__field {
    display: inline-block;
    padding-left: 10px;
    width: calc(100% - 12.5px); }
  .form__input {
    border: none;
    width: 172px;
    outline: none;
    transition: width .1s ease-in-out; }
    .form__input:focus {
      width: 430px; }
    .form__input:placeholder-shown {
      font-size: 14px; }

.sidebar__primary {
  height: 100%; }

.sidebar__container {
  background-color: #F7F9FA;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  -webkit-font-smoothing: antialiased; }

.sidebar__content {
  overflow-y: auto;
  height: inherit;
  padding: 40px 0 0 40px; }

.sidebar__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-bottom: 35px; }
  .sidebar__icon img {
    width: inherit;
    height: inherit; }

.sidebar__list {
  list-style: none;
  color: #637282; }

.sidebar__item {
  height: 40px;
  font-size: 16.2px;
  cursor: pointer; }
  .sidebar__item a {
    text-decoration: none; }
    .sidebar__item a:active, .sidebar__item a:visited {
      color: #637282; }

.dashboard {
  position: relative; }
  .dashboard__nav-primary {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 240px;
    min-width: 240px; }
  .dashboard__content {
    min-height: 100vh;
    padding-left: 240px; }
  .dashboard__nav-secondary {
    position: fixed; }
