.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $content-padding;

  @include respond(tab-port) {
    padding: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: $content-padding-header;

    &--title {
      flex-grow: 10;
    }

    &--search {
      flex-basis: auto;
    }

    &--icons {
      img {
        border-radius: 50%;
      }
      @include imgConfig;
    }

    &--user {
      img {
        border-radius: 50%;
      }
      @include imgConfig;
    }

    @include respond(tab-port) {
      padding: 10px 20px;
    }
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 32px;

    font-size: $font-size-small;
    font-weight: normal;
    color: $color-grey-dark;

    &--item {
      margin-right: 35px;
      @include respond(tab-port) {
        margin-right: 0;
      }
    }

    &--main {
      display: flex;
      flex-direction: column;
      flex: 4.5;
    }

    &--nav-secondary {
      flex: 1;
      margin-top: calc(#{$content-margin-top} - 1px);

      @include respond(tab-port) {
        display: none;
      }
    }

    &--text {
      margin-top: $content-margin-top;
      margin-right: 30px;
      font-size: $font-size-medium;
      @include respond(tab-port) {
        padding: 0 0 0 $padding-tab-port ;
      }
    }
  }
}
