.sidebar {

  &__primary {
    height: 100%;
  }

  &__container {
    background-color: $bg-color-grey;
    display: flex;
    flex-direction: column;
    width: 240px;
    min-width: 240px;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }

  &__content {
    overflow-y: auto;
    height: inherit;
    padding: 40px 0 0 40px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: 35px;

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__list {
    list-style: none;
    color: $color-grey-dark;
  }

  &__item {
    height: 40px;
    font-size: $default-font-size;
    cursor: pointer;

    a {
      text-decoration: none;

      &:active,
      &:visited {
        color: $color-grey-dark;
      }
    }
  }
}
