.sidebar {

  &__primary {
    height: 100%;
    background-color: $bg-color-grey;
  }

  &__container {
    min-width: $nav-primary-height;
  }

  &__content {
    padding: 40px 0 0 40px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: 35px;

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__list {
    list-style: none;
    color: $color-grey-dark;
  }

  &__item {
    height: 40px;
    font-size: $default-font-size;
    cursor: pointer;

    a {
      text-decoration: none;

      &:active,
      &:visited {
        color: $color-grey-dark;
      }
    }
  }
}
