.dashboard {
  display: flex;
  height: 100%;

  &__nav-primary {
    width: $nav-primary-height;
    height: 100%;
    @include respond(phone) {
      display: none;
    }
  }

  &__content {
    width: 100%;
  }
}
